/*
 * -------------------------------------------------
 *  nf-proportionality Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {

  // input count data
  count_file = "${baseDir}/data/unprocessed_matrix/mouseStemCells/filtered/absolute.csv.gz"

  // features (genes) name
  features = "${baseDir}/data/unprocessed_matrix/mouseStemCells/filtered/features.csv"

  // keep genes with no zero components only
  nozero_genes = "${baseDir}/data/unprocessed_matrix/*/filtered/features_pos_nozero.csv"
  nozero_mode = false

  // simulations
  size_factors = [1,2,5]
  ncomb_max = 3
  model = false
  simulate = false

  // simulate using data from one cell cycle phase 
  use_phase = true
  phase_pos = "${baseDir}/data/unprocessed_matrix/mouseStemCells/filtered/phase_S.csv"

  // transform or normalize data
  methods_replace_zero = "zcompositions" // "zcompositions,pseudocount,one,min,none" 
  methods_transf_data = "log2,tmm,scran,clr,alr"     // log2,clr,alr,tmm,scran
  ref_genes = [1436] //[1436] // ,68,39, 13,43,59]   // three random genes obtained from 'set.seed(0); sample(1:104, 5)'    NOTE: nozero genes only
                                     // and the three genes with highest variance

  // correlation
  methods_corr = "rho,cor,vlr,pcor,pcor.shrink"
  fdr = false   // TODO add a step to calculate FDR

  // plot
  show_methods_replace_zero = "zcompositions"
  show_methods_transf_data = "log2,tmm,scran,clr,alr"
  show_methods_corr = "cor,rho,pcor.shrink"
  show_alr = 1436

  // output
  if (params.nozero_mode){
    outdir = "${baseDir}/results_nozero"
  }else{
    outdir = "${baseDir}/results_all"
  }
  tracedir = "${params.outdir}/pipeline_info"

  // other general options
  publish_dir_mode = 'copy'
  check_out = true

  // Defaults only, expecting to be overwritten
  max_memory = 84.GB
  max_cpus = 16
  max_time = 240.h

}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
  debug { process.beforeScript = 'echo $HOSTNAME' }
  docker {
    docker.enabled = true
    singularity.enabled = false
    podman.enabled = false
    shifter.enabled = false
    charliecloud.enabled = false
    // Avoid this error:
    //   WARNING: Your kernel does not support swap limit capabilities or the cgroup is not mounted. Memory limited without swap.
    // Testing this in nf-core after discussion here https://github.com/nf-core/tools/pull/351
    // once this is established and works well, nextflow might implement this behavior as new default.
    docker.runOptions = '-u \$(id -u):\$(id -g)'
  }
  singularity {
    docker.enabled = false
    singularity.enabled = true
    podman.enabled = false
    shifter.enabled = false
    charliecloud.enabled = false
    singularity.autoMounts = true
  }
  test { includeConfig 'conf/test.config' }
  crg { includeConfig 'conf/crg.config' }
  trace { includeConfig 'conf/trace.config' }
}


// Export these variables to prevent local Python/R libraries from conflicting with those in the container
env {
  PYTHONNOUSERSITE = 1
  R_PROFILE_USER = "/.Rprofile"
  R_ENVIRON_USER = "/.Renviron"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']


// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if (type == 'memory') {
    try {
      if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'time') {
    try {
      if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'cpus') {
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
