// Container 
process {
  withName:CLR {
    // container = 'suzannejin/dismay:v3.5'
    container = 'file:///users/cn/sjin/projects/proportionality/scDesign2/work/singularity/suzannejin-dismay-v3.5.img'
  }
  withName:CORR {
    // container = 'suzannejin/dismay:v3.5'
    container = 'file:///users/cn/sjin/projects/proportionality/scDesign2/work/singularity/suzannejin-dismay-v3.5.img'
  }
}
