/*
 * -------------------------------------------------
 *  Nextflow config file for running at CRG
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run proportionality.nf -profile crg,singularity
 */

params {
  config_profile_name = 'CRG profile'
  config_profile_description = 'Configuration to run on CRG cluster'
}

process {
    executor = 'crg'
    queue = 'cn-el7'
    // queue = 'long-sl7'
    // clusterOptions = "-P prj007053"

    maxRetries = 2
    cpus = 1
    memory = { ( 8.GB * task.attempt ) }
    time = { ( 2.h * task.attempt ) }

    withLabel:process_low {
        memory = { (4.GB * task.attempt ) }
    }
    withLabel:process_low_short {
        memory = { (4.GB * task.attempt ) }
        time = { ( 30.min * task.attempt ) }
    }
    withLabel:process_high {
        memory = { ( 16.GB * task.attempt ) }
    }
    withLabel:process_high_long {
        memory = { ( 16.GB * task.attempt ) }
        time = { ( 8.h * task.attempt ) }
    }
    withLabel:process_shigh {
        memory = { ( 32.GB * task.attempt ) }
    }
}
