/*
 * -------------------------------------------------
 *  Nextflow config file for running at CRG
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run proportionality.nf -profile crg,singularity
 */

params {
  config_profile_name = 'CRG profile'
  config_profile_description = 'Configuration to run on CRG cluster'
}

process {
    executor = 'crg'
    queue = 'cn-el7'
    clusterOptions = "-P prj007053"

    maxRetries = 2
    cpus = 1
    memory = { ( 24.GB * task.attempt ) }
    time = { ( 2.h * task.attempt ) }

    withName:MODEL {
      memory = 64.GB
      time = 8.h
    }
    withName:SIMULATE {
      memory = { ( 24.GB * task.attempt ) }
      time = { ( 2.h * task.attempt ) }
    }
    withName:CHECK_DROPOUT {
      memory = { ( 4.GB * task.attempt ) }
    }
    withName:TRANSF {
      if (params.nozero_mode){
        memory = { ( 8.GB * task.attempt ) }
        time = { ( 30.min * task.attempt ) }
      } else {
        memory = { ( 24.GB * task.attempt ) }
        time = { ( 3.h * task.attempt ) }
      }
    }
    withName:CORR {
      if (params.nozero_mode){
        memory = { ( 16.GB * task.attempt ) }
        time = { ( 1.h * task.attempt ) }
      } else {
        memory = { ( 24.GB * task.attempt ) }
        time = { ( 3.h * task.attempt ) }
      }
    }
    
}
