/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run proportionality.nf -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  do_test = false  // run only non-zero computations

  /* output */
  outdir = "${params.datadir}/test"
  tracedir = "${params.outdir}/pipeline_info"

  /* simulations */
  simulation_slope            = [2]
  simulation_ndata            = [5]
  simulation_size_factor      = [2]
  simulation_cell_factor      = [1]
  do_simulation_byslope       = true
  do_simulation_bydepth       = false
  do_simulation_bystep        = false

  /* data processing */
  method_replace_zero         = "zcompositions" // "zcompositions,pseudocount,one,min,none" 
  method_transform_data       = "log2,clr"     // log2,clr,alr,tmm,scran

  /* correlation */
  method_correlation          = "cor,pcor.shrink"  // TODO store lambda information
  do_fdr                      = false   // TODO add a step to calculate FDR
}
