/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run proportionality.nf -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'

  // input
  count_file = "${baseDir}/data/test.csv.gz"
  methods_transf = ["zcompositions"]   // zcompositions, one, min, none, tmm
  method_corr = ["rho", "cor"]

  // output
  outdir = "${baseDir}/test"
  tracedir = "${params.outdir}/pipeline_info"
}
