timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}

tower {
  // accessToken = '57cc4e09eb0909d18d9926731205dfff09a13cc4'   // old github tower
  accessToken = 'eyJ0aWQiOiA0MjUzfS4wNDA0ZGMxNWM2ZTk0YWQ0ODAyNjFlNjI0ZGNjZTAyZWNmMDU4MTQ3'
  enabled = true
}
